<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AC Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Civil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6433087D1C8B10F10082BF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643308911C8B10F10082BF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6433089C1C8B10F10082BF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64E838B01C9372D1004F4FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
